- content_for :title, t('views.quotes.edit.title')
.row
  = form_for @quote do |f|
    .col-md-9
      .panel
        .panel-body
          .form-group
            = f.label t('views.quotes.new.quote_title'), nil, class: 'control-label'
            = f.text_area :title, class: 'form-control customer-area', rows: 10
          .form-group
            = f.submit t('views.crud.submit'), class: 'btn btn-default'

= render 'shared/bottom'