- content_for :title, t('views.quotes.index.title')
.row
  .col-md-offset-1.col-md-1
    .shuoshuo_time.bg6
      %span.day
        = '28'
      %span.month
        = '3月'
  .col-md-8
    .panel.panel-default
      .panel-body
        %b.shuoshuo_quote_before
          = '\"'
        .shuoshuo_detail
          = '怎么去拥有一道彩虹 怎么去拥抱一夏天的风'
        %b.shuoshuo_quote_after
          = '\"'

