- content_for :title, t('views.quotes.index.title')
.row
  .col-md-9
    .panel.customer-panel
      .panel-body
        %table.table.table-striped
          %thead
            %tr
              %th
                = t('views.articles.index.quote_id')
              %th
                = t('views.articles.index.quote_title')
              %th
                = t('views.crud.edit')
              %th
                = t('views.crud.delete')
          %tbody
            = render @quotes
        - if @count > 8
          %div.customer-table-foot
            %tfoot
              =paginate @quotes

= render 'shared/bottom'