.main
  .container
    .row
      .col-md-9
        .panel.customer-panel
          .panel-body
            %table.table.table-striped
              %thead
                %tr
                  %th 文章编号
                  %th 标题
                  %th 修改
                  %th 删除
              %tbody
                - @articles.each do |article|
                  %tr
                    %td= article.id
                    %td= link_to article.title, article_path(article)
                    %td= link_to '修改', edit_article_path(article), class: 'btn btn-sm btn-primary'
                    %td= link_to '删除', article_path(article), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: '你确定要删除吗？'}
          - if @counts > 8
            .panel-footer.cutomer-footer
              = paginate @articles
      = render 'shared/search'
      = render 'shared/tag'
    = render 'shared/bottom'