- content_for :title, t('views.articles.index.title')
.main
  .container
    .row
      .col-md-9
        .panel.customer-panel
          .panel-body
            %table.table.table-striped
              %thead
                %tr
                  %th 文章编号
                  %th 标题
                  %th 修改
                  %th 删除
              %tbody
                = render @articles
          - if @counts > 8
            .panel-footer.cutomer-footer
              = paginate @articles
      = render 'shared/search'
      = render 'shared/tag'
    = render 'shared/bottom'