- content_for :title, t('views.articles.new.title')
.row
  = form_for @article do |f|
    .col-md-9
      .panel
        .panel-body
          .form-group
            = f.label t('views.articles.new.article_title'), nil, class: 'control-label'
            = f.text_field :title, class: 'form-control'
          .form-group
            = f.label t('views.articles.new.article_content'), nil, class: 'control-label'
            = f.text_area :content, class: 'form-control', rows: 40
          .form-group
            = f.submit t('views.crud.submit'), class: 'btn btn-default'
    .col-md-3
      .panel.panel-default
        .panel-heading
          = t('views.crud.tag')
        .panel-body
          - @tags.each do |tag|
            .form-group
              = f.check_box :tags, { :multiple => true }, tag.id, false
              = f.label tag.id, tag.name, class: 'checkbox-inline'
    .col-md-3
      .panel.panel-default
        .panel-heading
          = t('views.articles.new.date')
        .panel-body
          .form-group
            .input-group.date.form_date.col-md-5{"data-date" => "", "data-date-format" => "dd MM yyyy", "data-link-field" => "dtp_input2", "data-link-format" => "yyyy-mm-dd"}
              = f.text_field :created_at, class: 'date-pick'
              %span.input-group-addon
                %span.glyphicon.glyphicon-remove
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
            %input#dtp_input2{:type => 'hidden', :value => ''}
            %br
= render 'shared/bottom'
:javascript
  $('.form_date').datetimepicker({
    format: 'yyyy-mm-dd',
    language:  'zh-CN',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
  });
