<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <% if  @article.nil? %>
            <%= image_tag '404.png' %>
          <% else %>
              <div class="panel-body">
                <div>
                    <h2><%= @article.title %></h2>
                </div>
                发表于:<%= @article.created_at.strftime('%Y年%m月%d日') %>
                <% if @article.tags.count > 0 %>
                <div>
                  标签:
                  <% @article.tags.each do |tag| %>
                    <%= link_to tag.name, "/welcomes/tag/#{tag.id}", class: 'btn btn-info btn-xs' %>
                  <% end %>
                </div>
                <% end %>
                <hr>
                <% if @article.content %>
                    <%= markdown(@article.content) %>
                <% end %>
              </div>
          <% end %>

        </div>
      </div>
      <%= render 'shared/search' %>
      <%= render 'shared/tag' %>
      <%= render 'shared/recent' %>
    </div>
    <%= render 'shared/bottom' %>
  </div>
</div>