<div class="main">
  <div class="container">
    <div class="row customer-panel">
      <div class="col-md-9">
        <% if @index_articles.nil? && @index_articles.count > 0 %>
            <% @index_articles.each_with_index  do |article,index| %>
                <div class="panel panel-default ">
                  <div class="panel-body">
                    <h3><%= article.title %></h3>
                    <i class="glyphicon glyphicon-time"></i>  <%= article.created_at.strftime('%b/%d/%y') %>
                    <hr>
                    <%= markdown(article.content[0,200]+'...') %>
                    <%= link_to 'more', article_path(article), class: 'btn btn-warning' %>
                  </div>
                  <% if (index+1)%5 == 0 || index == @index_articles.count-1  %>
                  <div class="panel-footer">
                      <%= paginate @index_articles %>
                  </div>
                  <% end %>
                </div>
            <% end %>
        <% else %>
            <div class="panel panel-danger customer-panel" >
                <div class="panel-heading">
                   对不起，无相关文章记录！！
                </div>
                <div class="panel-body">
                    <%= image_tag '404.png', alt: '404' %>
                </div>
            </div>
        <% end %>
      </div>

      <%= render 'shared/search' %>
      <%= render 'shared/tag' %>
      <%= render 'shared/recent' %>
    </div>
    <div class="row">

    </div>
    <%= render 'shared/bottom' %>

  </div>

</div>