<% content_for :title, t('views.welcomes.data.title') %>
<div class="main">
  <div class="container">
    <div class="row">
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">饼状图</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">柱状图</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">折线图</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <div id="chartContainer" style="height: 300px; width: 50%;"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            <div id="otherChartContainer" style="height: 300px; width: 50%;"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
            <div id="thirdChartContainer" style="height: 300px; width: 50%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function(){
    var chart = new CanvasJS.Chart("chartContainer",
        {
          legend: {
            maxWidth: 350,
            itemWidth: 120
          },
          data: [
            {
              type: "pie",
              legendText: "{indexLabel}",
              dataPoints: [
                <% @tags.each do |tag| %>
                {indexLabel: "<%= tag.name %>", y: <%= tag.articles.count.to_i %> },
                <% end %>
              ]
            }
          ]
        });
    var otherChart = new CanvasJS.Chart("otherChartContainer",{
      data: [
        {
          type: "column",
          dataPoints: [
            <% @articles.each do |month, posts| %>
            { label: "<%= month.strftime('%y年%m月') %>", y: <%= posts.size %> },
            <% end %>
          ]
        }
      ]
    });
    var thirdChart = new CanvasJS.Chart("thirdChartContainer", { 
      data: [ 
        { 
          type: "line", 
          dataPoints: [ 
            <% @articles.each do |month, posts| %>
            { x: new Date(<%= (month - 1.month).strftime('%Y,%m,%d') %>), y: <%= posts.size %> }, 
            <% end %> 
          ] 
        } 
      ] 
    });
    chart.render();
    otherChart.render();
    thirdChart.render();
    $('.canvasjs-chart-credit').remove();
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      console.log('hello')
      chart.render();
      otherChart.render();
      thirdChart.render();
      e.target
      e.relatedTarget
      $('.canvasjs-chart-credit').remove();
    })
  });
</script>

<style>
  body{
    background-color: white !important;
  }
</style>