- content_for :title, t('views.quotes.index.title')
.row
  .col-md-offset-1
    - @quotes.each do |quote|
      .col-md-12
        .col-md-1
          .shuoshuo_time.bg6
            - if quote.created_at.today?
              %span.month.customer-month
                = t('views.crud.today')
            - elsif quote.created_at.yesterday
              %span.month.customer-month
                = t('views.crud.yesterday')
            - else
              %span.day
                = quote.created_at.day
              %span.month
                = quote.created_at.month.to_s + '月'
        .col-md-8
          .panel.panel-default
            .panel-body
              %b.shuoshuo_quote_before
                = '\"'
              .shuoshuo_detail
                = quote.title
              %b.shuoshuo_quote_after
                = '\"'

