%tr
  %td= check_box_tag 'tag_ids[]', tag.id
  %td= tag.id
  %td= tag.name
  %td= link_to '删除',tag_path(tag), method: :delete, data:{confirm: "你确定要删除'#{tag.name}'标签吗？"}, class: 'btn btn-xs btn-danger'