- content_for :title, t('views.tags.index.title')
.main
  .container
    .row
      .col-md-9
        .panel.customer-panel.panel-default
          .panel-heading
            = t('views.tags.index.tag_list')
          .panel-body
            =form_tag destroy_multiple_tags_path, method: :delete
            %table.table.table-hover
              %thead
                %tr
                  %th
                    = t('views.tags.index.select')
                  %th
                    = t('views.tags.index.tag_id')
                  %th
                    = t('views.tags.index.content')
                  %th
                    = t('views.crud.delete')
              %tbody
                = render @tags
                %input(type="checkbox" id="checkall" value="全选")
                = submit_tag t('views.tags.index.delete_all'), class: 'btn btn-sm btn-link'
          - if @count > 8
            .panel-footer.cutomer-footer
              =paginate @tags
      = render 'shared/search'
      = render 'shared/recent'
    = render 'shared/bottom'


:javascript
  $('#checkall').click(function() {
    var checkbox = $(this);
    $('tbody :checkbox').each(function() {
      $(this).prop('checked', checkbox.is(':checked'));
    });
  });