<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel customer-panel panel-default">
          <div class="panel-heading">
            标签列表
          </div>
          <div class="panel-body">
            <%= form_tag destroy_multiple_tags_path, method: :delete do %>
                <table class="table table-hover">
                  <thead>
                    <tr>
                    <td>
                      选择
                    </td>
                    <td>标签编号</td>
                    <td>内容</td>
                    <td>删除</td>
                  </tr>
                  </thead>
                  <tbody>
                  <% @tags.each do |tag| %>
                      <tr>
                        <td>
                          <%= check_box_tag 'tag_ids[]', tag.id %>
                        </td>
                        <td>
                          <%= tag.id %>
                        </td>
                        <td>
                          <%= tag.name %>
                        </td>
                        <td>
                          <%= link_to '删除',tag_path(tag), method: :delete, data:{confirm: "你确定要删除'#{tag.name}'标签吗？"}, class: 'btn btn-danger' %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                  <tfoot>
                  <input type="checkbox" id="checkall" value="全选" onclick="selectall('tag',this.checked)">
                  <%= submit_tag '删除全部', class: 'btn btn-link' %>
                  </tfoot>
                </table>
             <% end %>
          </div>

          <% if @count > 8 %>
          <div class="panel-footer cutomer-footer">
            <%= paginate @tags %>
          </div>
          <% end %>
        </div>
      </div>
      <%= render 'shared/tag' %>
    </div>
    <%= render 'shared/bottom' %>
  </div>
</div>

<script>
  function selectall(field_name, state){
      var checkboxes = $('input')
      var count = checkboxes.length
      for(var i =0; i<count; i++){
          if(checkboxes[i].type == "checkbox" && checkboxes[i].name == field_name+ "_ids[]"){
              checkboxes[i].checked = state
          }
      }
  }
</script>